<h1>Создание анкеты</h1>
<%= error %>
<form action="profile_creation" method="POST">
<label for="name">Имя:</label>
<input type="text" name="name"><br>
<label for="number">Возраст:</label>
<input type="number" name="age"><br>
<label for="country">Страна:</label>
<input type="country" name="country"><br>
<label for="city">Город:</label>
<input type="city" name="city"><br>
<input type="submit" value="Создать анкету">
</form>