<link rel="stylesheet" href="style.css">

<div>
<h1>Профиль:</h1>
<p>Имя: <%= info[:name] %></p>
<p>Возраст: <%= info[:age] %></p>
<p>Страна: <%= info[:country] %></p>
<p>Город: <%= info[:city] %></p>
</div>

<div>
<h1>Занятия:</h1>
<% if occupancies != nil %>
    <ul>
    <% occupancies.each do |occupancy| %>
        <li>
        <%= occupancy['get_occupations'].strip!%>
        <% if session[:login] == params[:login]%>
        <span>
        <form action="/delete_profile_occupation/<%= occupancy['get_occupations'] %>" method="POST">
        <input name="_method" type="submit" value="delete"/>
        </form>
        </span>
        <% end %>
        </li>
    <% end %>
    </ul>
<% end %>
    <% if session[:login] == params[:login]%>
    <a href="/new_profile_occupation">Добавить новое занятие</a>
    <% end %>
</div>

<div>
<h1> Цели: </h1>
<% if goals != nil %>
    <ul>
    <% goals.each do |goal| %>
        <li>
        <%= goal['goal'].strip! %>
        <% if session[:login] == params[:login]%>
        <span>
        <form action="/delete_goal/<%= goal['goal'] %>" method="POST">
        <input name="_method" type="submit" value="delete">
        </form>
        </span>
        <% end %>
        </li>
    <% end %>
    </ul>
<% end %>
<% if session[:login] == params[:login]%>
<a href="/new_goal">Добавить новую цель</a>
<% end %>
</div>